
body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

h {
    color: black;
    font-size: 24px; 
    margin: auto; 
    text-align: center; 
    font-family: "Comic Sans MS", "Comic Sans", cursive ; 
}

p {
    color: black; 
    font-size: 18px; 
    font-family: "Comic Sans MS", "Comic Sans", cursive ;
}

p-slide {
    color: black; 
    font-size: 18px; 
    font-family: "Comic Sans MS", "Comic Sans", cursive ;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 0%;
        margin-left: 100%;
        width: 300%;
      }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}

footer {
    background-color: #abcdef; 
    margin: auto; 
    text-align: center; 
    padding-right: 2%; 
    font-family: "Comic Sans MS", "Comic Sans", cursive ;
}


/* content from https://www.w3schools.com/ */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #27405a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    
}

/* The navigation menu links */
/*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
.sidenav a {
    padding: 6px 8px 25px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b2bad6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffffff;
}

.sidenav a.currentPage {
    color: #fcda23;
    background-color: #1e3044;
}

.sidenav a.currentPage:hover {
    color: #ffe341;
    background-color: #21364d;
}





/* Style page content */
.main {

    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 25px;
    margin-top: 15px;
}

.generateScheduleHeader{
    display: flex;
    justify-content: space-between;
}

/* Style for the generate button on generateSchedule page */
.generateButton{
    background-color: #0078c8; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
/* The style of the generate button when it hovered over */
.generateButton:hover{
    background-color: #016bb3;
    color: #e4e4e4; 
}

.generateEditors{
    font-size: 40px;
    cursor: pointer;
    color: #1f3347;
    padding-right: 8px;
    padding-top: 25px;
}
.generateEditors:hover{
    color: #283c52;
}

.scheduleTable table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    table-layout: fixed;

  }
  
  .scheduleTable td {
    text-align: left;
    padding: 8px;
    border: 2px solid #b2bad6;
    background-color: #e4e4e4;
  }

  .scheduleTable th{
    background-color: #0078c8;
    color: #ffffff;
    text-align: center;
    padding: 20px;

  }

  .scheduleTime{
    width:200px;
    overflow: hidden;

  }

  .scheduleHeader th{
    /* width:200px; */
    /* overflow: hidden; */
  }

  .aboutMembers{
    /* display: flex; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .aboutMembers h1{
    text-align: center;
    color: #27405a;
    text-shadow: 2px 2px #b2bad6;

  }

  .aboutMembers .theMember{
    display: inline-block;
    padding: 50px;
  }

  .theMember h3{
    text-align: center;
    color: #0078c8;
  }
  .theMember h5{
    color:#27405a;
  }

  .theMember img{
    align-items: center;
    border-radius: 50px;
    width: 200px;

  }




/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.topnav {
    background-color: #0078c8;
    height: 100px; /* Full-height: remove this if you want "auto" height */
     z-index: 1;
    margin-left: 192px;
    text-align: end;
    padding-right: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: right; 
}

.topnav a {
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 5px;
    margin-left: auto;
    cursor:pointer;
}

.topnav a:hover {
    color: #27405a;
}

/* content from https://www.w3schools.com/ */
.account {
    position: relative;
    display: inline-block;

  }


/* Dropdown Content (Hidden by Default) */
.accountDropdownContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #27405a;
    min-width: 160px;
    z-index: 1;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .accountDropdownContent a {
    color: #b2bad6;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 10px;
    cursor:pointer;
  }
  
  /* Change color of dropdown links on hover */
  .accountDropdownContent a:hover {
    background-color: #3d628a;
    color: #ffffff;
}
  
  /* Show the dropdown menu on hover */
  .account:hover .accountDropdownContent {display: block;}


  
