/* Generate Schedule Page */

.generateScheduleHeader {
    min-width: 845px;
}

/* Style for the generate button on generateSchedule page */
.generateButton {
    background-color: #0078c8;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    float: left;
}
/* Style for the generate button when it hovered over */
.generateButton:hover {
    background-color: #016bb3;
    color: #e4e4e4;
}

/* Style for the generate button on generateSchedule page */
.updateGenerateButton {
    margin-left: 10px;
    float: left;
    font-size: 15px;
    margin-top: 20px;
    color: red;
}

/* Style for download icon and conflict icon on right side of generateSchedule page */
.generateEditors {
    float: right;
}

/* Style for div containing conflict icon, conflict text, number of conflicts, and conflict window */
.generateConflicts {
    font-size: 40px;
    cursor: pointer;
    color: #1f3347;
    padding-right: 20px;
    position: relative;
    display: inline-block;
}

/* Style for div containing conflict icon, conflict text, number of conflicts, and conflict window when hovered over */
.generateConflicts:hover {
    color: #283c52;
}

/* Style of conflict text that appears above conflict icon */
.generateConflicts .generateConflictsText {
    visibility: hidden;
    width: 60px;
    background-color: #27405a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
}

/* Make conflict text appear when conflict icon is hovered over */
.generateConflicts:hover .generateConflictsText {
    visibility: visible;
}

/* Style of number of icons that appears on conflict icon when there are conflicts */
.generateConflicts .conflictNums {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 150%;
    background-color: red;
    color: white;
}

/* Conflict Modal */

/* Style of div containing entire conflict page */
.generateModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    cursor: context-menu;
}

/* Style for conflict modal Content */
.conflict-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
    max-height: 80%;
}

/* Style for conflict modal close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Style for conflict modal close button when it is hovered over or focused on */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Style for conflict title on conflict page */
.conflict-modal-content h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}

/* Style of conflict class and teacher name */
.conflict-modal-content h6 {
    padding: 0px;
    margin: 0px;
}

/* Style for text when there are no conflicts */
.conflict-modal-content .noConflicts {
    text-align: center;
    padding: 20px;
}

/* Style for warning when a room and day and time combination are not both filled out */
.conflict-modal-content .roomDayTimeWarning {
    margin-bottom: 0px;
    color: red;
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 10px;
}

/* Style for teacher name for each conflict */
.conflict-modal-content .conflictTeacherName {
    font-size: 20px;
}

/* Style for room and day and time dropdowns and labels*/
.conflict-modal-content .conflictDropDown {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
}

/* Style for labels for room and day and time dropdowns */
.conflict-modal-content .conflictDropDownLabel {
    padding-top: 0px;
    font-size: 20px;
    padding-right: 10px;
}

/* Style for room and day and time dropdowns */
.conflict-modal-content .conflictDropDown .conflictRooms,
.conflictdayTime {
    background-color: #fff;
    color: #27405a;
    border-color: #b2bad6;
    outline-color: #8d93a7;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}

/* Style for room and day and time dropdowns when hovered over */
.conflict-modal-content .conflictDropDown .conflictRooms:hover,
.conflictdayTime:hover {
    border-color: #8d93a7;
}

/* Style for room and day and time dropdowns when they are disabled */
.conflict-modal-content .conflictDropDown .conflictRooms:hover[disabled],
.conflictdayTime:hover[disabled] {
    border-color: #b2bad6;
}

/* Style for save button for each class dropdowns */
.conflict-modal-content .conflictSave {
    background-color: #0078c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}

/* Style for when save button for each class dropdowns is disabled  */
.conflict-modal-content .conflictSave:disabled {
    background-color: #5894bb;
    cursor: context-menu;
}

/* Style for edit icon that appears after save button is pressed for a given conflict */
.conflict-modal-content #conflictEdit {
    cursor: pointer;
    padding-left: 10px;
}

/* Style for div for submit button and warning at bottom of conflict page */
.conflict-modal-content .submitConflicts {
    text-align: end;
}

/* Style for warning that is displayed when all conflict resolutions are not saved */
.conflict-modal-content .submitWarning {
    color: red;
    font-size: 15px;
    padding: 5px;
    margin: 0px;
    display: inline-block;
}

/* Style for submit button at bottom of the conflict page */
.conflict-modal-content .submitConflictSolutionsButton {
    background-color: #0078c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    margin: 10px;
    margin-right: 20px;
    display: inline-block;
}

/* Style of download icon on generateSchedule page */
.generateDownload {
    font-size: 40px;
    cursor: pointer;
    color: #1f3347;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

/* Style of download icon when it hovered over */
.generateDownload:hover {
    color: #283c52;
}

/* Style of download text displayed above download icon */
.generateDownload span {
    visibility: hidden;
    width: 70px;
    background-color: #27405a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -55px;
}

/* Download text appears when download icon is hovered over */
.generateDownload:hover span {
    visibility: visible;
}

/* Schedule table */

/* Style for the table that holds the GUI schedule */
.scheduleTable table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    min-width: 750px;
}

/* Style for the table cells that hold the class divs */
.scheduleTable td {
    vertical-align: top;
    padding: 8px;
    border: 2px solid #b2bad6;
    background-color: #e4e4e4;
}

/* Style for the day and time headings of the schedule */
.scheduleTable th {
    background-color: #0078c8;
    color: #ffffff;
    padding: 20px;
    min-width: 100px;
}


/* Style for class divs that are the lighter blue color */
.classMWA,
.classMWC,
.classMWE,
.classMWG,
.classTRB,
.classTRD,
.classTRF {
    border: 1px solid;
    background-color: #0078c8;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for class divs that are the darker blue color */
.classMWB,
.classMWD,
.classMWF,
.classTRA,
.classTRC,
.classTRE,
.classTRG {
    border: 1px solid;
    background-color: #27405a;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the time row headers */
.scheduleTime {
    max-width: 200px;
}
