/* Style sheet for the entire project */

/* Style for the body of all html files except login page */
body {
    background-color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

@keyframes slidein {
    from {
        margin-right: 0%;
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Top Nav */

/* Style for entire top Nav on all pages */
.topnav {
    background-color: #0078c8;
    height: 150px; /* Full-height: remove this if you want "auto" height */
    text-align: end;
    padding-right: 20px;
    margin-left: 200px;
    min-width: 885px;
    width: auto;
    max-height: 1000px;
}

/* Style for department title displayed on top nav */
.topnav .departmentTitle {
    color: #fff;
    margin-left: 25px;
    cursor: context-menu;
    float: left;
    font-size: 50px;
}

/* Style for logout link and logout text */
.account {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
}

/* Style for logout Text that pops up when hovering over logout icon */
.logOutText {
    visibility: hidden;
    background-color: #27405a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    position: relative;
    text-align: center;
    display: flex;
}

/* Style of logout icon and link that takes you back to login page */
.account a {
    color: #fff;
    font-size: 50px;
}

/* Style of logout icon when hovered over */
.account #logoutIcon:hover {
    color: #27405a;
}

/* Makes logout text visible when logout icon is hovered over */
.account a:hover + .logOutText {
    visibility: visible;
}

/* Side Nav */

/* content from https://www.w3schools.com/ */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Stay to the left */
    background-color: #27405a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #b2bad6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffffff;
}

/* Changes style of link of page you are currently on */
.sidenav a.currentPage {
    color: #fcda23;
    background-color: #1e3044;
}

/* Changes style of link of page you are currently on when you hover over it */
.sidenav a.currentPage:hover {
    color: #ffe341;
    background-color: #21364d;
}

/* Main part of page */

/* Style page content */
.main {
    padding: 25px;
    margin: 0 auto;
    margin-left: 200px; /* Same as the width of the sidebar */

    height: 50%;
}