/* Style sheet for the entire project */
body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

h {
    color: black;
    font-size: 24px;
    margin: auto;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* p {
    color: black; 
    font-size: 18px; 
    font-family: "Comic Sans MS", "Comic Sans", cursive ;
} */

p-slide {
    color: black;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 0%;
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

footer {
    background-color: #abcdef;
    margin: auto;
    text-align: center;
    padding-right: 2%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.loginPage {
    display: inline;
    overflow-x: hidden;
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
    height: 100vh;
    min-height: 800px;
}

.loginWrapper {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 150px);
    justify-content: space-around;
}

.loginPage .uahImage {
    display: compact;

    background-image: url("/static/Pictures/campus-photos-carousel-12.jpg");
    line-height: 0;
    background-repeat: no-repeat;
    font-size: 0;
    /* vertical-align: top;  */
    /*margin-top: 150px; */
    background-attachment: fixed;
    background-size: cover;
    width: 50%;
    float: left;
    /* height: 100%; */
    /* position: fixed; */
}

.loginForm {
    text-align: center;
    padding: 20px;
    margin-top: 10%;
    flex-grow: 1;
}
.loginForm img {
    border-radius: 8px;
    width: 25%;
    height: 25%;
    min-width: 160px;
    min-height: 100px;
}

.loginForm form {
    display: inline;
    width: 25%;
    height: 25%;

}

.loginForm input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px;
    border-color: #b2bad6;
    border-radius: 5px;
    width: 25%;
    min-width: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #27405a;
    border-radius: 5px;
    border-color: #b2bad6;
    outline-color: #8d93a7;
    cursor: text;
    border-width: 2px;
    border-style: solid;
}

.loginForm input[type="text"]:hover, input[type="password"]:hover{
    border-color: #8d93a7;
}

.loginForm input[type="submit"] {
    background-color: #0078c8;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.loginForm input[type="submit"]:hover {
    background-color: #016bb3;
    color: #e4e4e4;
}

/* content from https://www.w3schools.com/ */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #27405a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
/*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
.sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #b2bad6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffffff;
}
.sidenav a.currentPage {
    color: #fcda23;
    background-color: #1e3044;
}

.sidenav a.currentPage:hover {
    color: #ffe341;
    background-color: #21364d;
}

/* Style page content */
.main {
    padding: 25px;
    margin: 0 auto;
    margin-left: 200px; /* Same as the width of the sidebar */

    height: 50%;
}

.generateScheduleHeader {
    /* display: flex; */
    /* justify-content: space-between; */
    min-width: 845px;
}

/* Style for the generate button on generateSchedule page */
.generateButton {
    background-color: #0078c8;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    float: left;
    /* display: inline-block; */
}
/* The style of the generate button when it hovered over */
.generateButton:hover {
    background-color: #016bb3;
    color: #e4e4e4;
}

.updateGenerateButton {
    margin-left: 10px;
    float: left;
    font-size: 15px;
    margin-top: 20px;
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.generateEditors {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* margin-left: 20px; */
    /* min-width: 142px; */
    float: right;
}

.generateDownload {
    font-size: 40px;
    cursor: pointer;
    color: #1f3347;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}
.generateDownload:hover {
    color: #283c52;
}

.generateDownload span {
    visibility: hidden;
    width: 70px;
    background-color: #27405a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -55px;
}
.generateDownload:hover span {
    visibility: visible;
}

.generateConflicts {
    font-size: 40px;
    cursor: pointer;
    color: #1f3347;
    padding-right: 20px;
    position: relative;
    display: inline-block;
}
.generateConflicts:hover {
    color: #283c52;
}

.generateConflicts .generateConflictsText {
    visibility: hidden;
    width: 60px;
    background-color: #27405a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    /* z-index: 1; */
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
}
.generateConflicts:hover .generateConflictsText {
    visibility: visible;
}

.generateConflicts .conflictNums {
    position: absolute;
    top: -5px;
    right: 10px;
    /* width: 10px;
  height: 10px; */
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 150%;
    background-color: red;
    color: white;
}

/* The Modal (background) */
.generateModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    cursor: context-menu;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
    max-height: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
    /* margin-top: 10px; */
}

.modal-content h6 {
    padding: 0px;
    margin: 0px;
}

.modal-content .noConflicts {
    text-align: center;
    padding: 20px;
}

.modal-content .roomDayTimeWarning {
    margin-bottom: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.modal-content .conflictTeacherName {
    font-size: 20px;
}

.modal-content .conflictDropDown {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
}
.modal-content .conflictDropDownLabel {
    padding-top: 0px;
    font-size: 20px;
    padding-right: 10px;
}

.modal-content .conflictDropDown .conflictRooms,
.conflictdayTime {
    background-color: #fff;
    color: #27405a;
    border-color: #b2bad6;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}

.modal-content .conflictSave {
    background-color: #0078c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}

.modal-content .submitConflicts {
    text-align: end;
    /* display: inline-block; */
}
.modal-content .submitWarning {
    /* background-color: rgba(173, 149, 13, 0.616); */
    color: red;
    font-size: 15px;
    padding: 5px;
    margin: 0px;
    display: inline-block;
}

.modal-content .submitConflictSolutionsButton {
    background-color: #0078c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    margin: 10px;
    margin-right: 20px;
    display: inline-block;
}

.modal-content .conflictSave:disabled {
    background-color: #5894bb;
    cursor: context-menu;
}

.modal-content #conflictEdit {
    cursor: pointer;
    padding-left: 10px;
}

.scheduleTable table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-width: 750px;
}
.scheduleTable td {
    vertical-align: top;
    padding: 8px;
    border: 2px solid #b2bad6;
    background-color: #e4e4e4;
}

.scheduleTable th {
    background-color: #0078c8;
    color: #ffffff;
    padding: 20px;
    min-width: 100px;
}

.classMWA,
.classMWC,
.classMWE,
.classMWG,
.classTRB,
.classTRD,
.classTRF {
    border: 1px solid;
    background-color: #0078c8;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classMWB,
.classMWD,
.classMWF,
.classTRA,
.classTRC,
.classTRE,
.classTRG {
    border: 1px solid;
    background-color: #27405a;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduleTime {
    max-width: 200px;
    /* overflow: hidden; */
}
#faqs {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin: 10px;
    margin-left: 260px;
}

#faqs h1 {
    font-size: 50px;
    text-align: center;
    color: #27405a;
    margin-top: 0px;
}

#faqs .listOfFAQs {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
#faqs li a {
    text-decoration: none;
    color: #0078c8;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

#faqs li a:hover {
    color: #3799da;
}
#faqs li {
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-top: 10px; */
}

#faqs h2,
h3,
h4 {
    color: #27405a;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

#faqs h2 {
    font-size: 30px;
    padding-top: 0px;
}

#faqs a {
    text-decoration: none;
    color: #0078c8;
    font-size: 15px;
}

#faqs a:hover {
    color: #3799da;
}

#faqs .faqExampleImage {
    text-align: center;
    padding: 10px;
    display: block;
}
.faqExampleImage button {
    background-color: #0078c8;
    border-radius: 5px;
    border-color: #0078c8;
    /* max-width: 300px; */
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin: 30px;
}

.faqExampleImage button:hover {
    background-color: #016bb3;
    color: #e4e4e4;
}

.faqExampleImage img {
    border: 1px solid #b2bad6;
}

.aboutMembers {
    /* display: flex; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.aboutTitle {
    text-align: center;
    color: #27405a;
    text-shadow: 2px 2px #b2bad6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    font-size: 50px;
}

.theMember {
    width: 100%;
}

.theMember img {
    max-width: 200px;
    max-height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.theMember h5 {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: #27405a;
}

.theMember h3 {
    margin-right: auto;
    margin-left: auto;
    color: #0078c8;
    margin-bottom: 0px;
}

.theMember h4 {
    color: #27405a;
}

.aboutMembers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* .theMembers1 { grid-area: 1 / 1 / 2 / 2; }
  .theMembers2 { grid-area: 1 / 2 / 2 / 3; } */
.aboutMembers > div {
    display: flex;
    flex-direction: column;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.topnav {
    background-color: #0078c8;
    height: 150px; /* Full-height: remove this if you want "auto" height */
    text-align: end;
    padding-right: 20px;
    margin-left: 200px;
    min-width: 885px;
    width: auto;
}

.topnav .departmentTitle {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: left; */
    margin-left: 25px;
    cursor: context-menu;
    float: left;
    font-size: 50px;
}

.account {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
}

/* Dropdown Content (Hidden by Default) */
.logOutText {
    visibility: hidden;
    background-color: #27405a;
    color: #fff;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    position: relative;
    text-align: center;
    display: flex;
}

.account a {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.account #logoutIcon:hover {
    color: #27405a;
}

.account a:hover + .logOutText {
    visibility: visible;
}

/* .topbar { */
/* background-color: #0078c8;
    height: 100px; /* Full-height: remove this if you want "auto" height */
/* z-index: 1; */
/* width: 80%; */
/* text-align: end;
    padding-right: 20px;
    padding-top: 30px;
    margin-left: 0px;
} */
/* input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0428aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0078c8;
} */

.uploadCSVFormTitle {
    color: #27405a;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.manualError {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}

.manualSuccess {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: green;
}

.uploadCSVForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10%;
    grid-row-gap: 0px;
    max-width: 870px;
}

.UploadCSVFormAndWarning form{
    min-width: 870px;
    /* min-height:25% */
}

.uploadCSVDropDown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #27405a;
    border-color: #b2bad6;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.uploadCSVDropDown select {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #27405a;
    border-color: #b2bad6;
    outline-color: #8d93a7;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    min-width: 200px;
    width: 25%;
    margin: 10px;
    cursor: pointer;
    border-width: 2px;
}

.uploadCSVDropDown select:hover {
    border-color: #8d93a7;
}

.uploadCSVDropDown ::placeholder {
    color: #27405a;
}

/* .uploadCSVDropDown select{
    border-color: red;
    outline-color: red;
} */

.uploadCSVDropDown select[disabled] {
    color: #27405a;
    border-color: #b2bad6;
    opacity: 1;
    cursor: context-menu;
}

#CSVUploadForms span {
    color: red;
    margin-left: 2px;
}

.UploadCSVFormAndWarning{
    display: grid;
  grid-template-columns: 870px 600px;
}

.classOverwriteWarning {
    text-align: left;
    padding-top: 25px;

    margin-right: 0px;
    margin-top: 0px;
    justify-content: center;

    
}
.classOverwriteWarning h4 {
    padding: 0px;
    margin: 0px;
    color: rgb(219, 147, 53);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
}

.uploadCSVDropDown input[type="text"] {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #27405a;
    border-radius: 5px;
    border-color: #b2bad6;
    outline-color: #8d93a7;
    padding: 8px;
    font-size: 15px;
    min-width: 182px;
    width: 25%;
    margin: 10px;
    cursor: text;
    border-width: 2px;
    border-style: solid;
}

.uploadCSVDropDown input[type="number"] {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #27405a;
    border-radius: 5px;
    border-color: #b2bad6;
    padding: 8px;
    font-size: 15px;
    min-width: 183px;
    width: 25%;
    margin: 10px;
    cursor: text;
}

.uploadCSVSubmit {
    background-color: #0078c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 10px;
    /* margin-right: 20px; */
    display: inline-block;
}

.uploadCSVSubmit:hover {
    background-color: #016bb3;
    color: #e4e4e4;
}

.uploadCSVFile {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    font-size: 15px;
    display: flex;
    padding-right: 0px;
    width: 100%;
}
.uploadCSVFile .individualFileUpload {
    margin: 10px;
    min-width: 200px;
    width: 25%;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
}

.uploadCSVFile input[type="file"] {
    font-size: 17px;
    color: #b2bad6;
}

.uploadCSVFile label {
    font-size: 20px;
    color: #27405a;
}

.uploadCSVFile input[type="file"]::file-selector-button {
    background-color: #27405a;
    color: #e4e4e4;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
}

.uploadCSVFile input[type="file"]::file-selector-button:hover {
    background-color: #283c52;
    color: #fff;
}

.successfulUpload {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

.failUpload {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Generva, Verdana, sans-serif;
    color: red;
}

.formatErrorList {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Generva, Verdana, sans-serif;
    color: #283c52;
}

.formatErrorList i {
    color: red
}

.formatErrorListFirst {
    color: red;
    font-family: "Segoe UI", Tahoma, Generva, Verdana, sans-serif;
}
