<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href= "../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>About Us | Schedule Planner</title>
</head>

<body>
        <div class="topnav">
            <!-- <a href="#html1" style="margin-top: 0px;">
                <i class="fa fa-bell-o" style="font-size: 25px;"></i>
            </a> -->
            <div class="account">
                
                    <a href="{{ url_for('login') }}">
                        <i class="fa fa-sign-out" id="logoutIcon" ></i>
                    </a>
                    
                    <div class="logOutText">Log Out</div>  
            </div>


        </div>


        <div class="sidenav">
            <a href="{{ url_for('generate_schedule') }}">
                <img src="../static/Pictures/logo.png" alt="logo">
            </a>
            <a href="{{ url_for('generate_schedule') }}">
                <i class="fa fa-table"></i>
                Create Schedule
            </a>
            <a href="{{ url_for('upload_csv') }}">
                <i class="fa fa-upload"></i>
                Upload CSV
            </a>
            <!-- <a href="{{ url_for('settings') }}">
                <i class="fa fa-gear"></i>
                Settings
            </a> -->
            <a href="{{ url_for('faq') }}">
                <i class="fa fa-question-circle"></i>
                FAQs
            </a>
            <a href="{{ url_for('about_us') }} " class="currentPage">
                <i class="fa fa-group"></i>
                About Us
            </a>
        </div>



        <div class="main">
            <h1 class="aboutTitle">Meet the People who Made Schedule Builder</h1>
            <div class="aboutMembers">
                <div class="theMember">
                    <h3>Faith Grimmeisen</h3>
                    <h4>Test Lead</h4>
                    <img
                        src="../static/Pictures/FaithPic.jpg">
                    <h5>Faith is currently a senior at the University of Alabama in Huntsville and is currently getting her Bachelor's in Computer Science which she will get in Spring 2023. She is also getting her Master's in Software Engineering and plans to graduate with that Spring 2024. In her free time, Faith likes to crochet and play video games.</h5>
                </div>
                <div class="theMember">
                    <h3>Harrison Matthews</h3>
                    <h4>CM Lead</h4>
                    <img src="../static/Pictures/HarrisonPic.png">
                    <h5>Harrison Matthews is a student at the University of Alabama in Huntsville, pursuing a Bachelor's degree in Computer Science with a minor in Mathematics. He will graduate after this current semester in December of Fall 2022. He is passionate about technology and computers, but also enjoys spending time outside exercising since he spends most of his day indoors.</h5>
                </div>
    
                <div class="theMember">
                    <h3>Devin Patel</h3>
                    <h4>Team Lead</h4>
                    <img src="../static/Pictures/DevinPic.jpg">
                    <h5>
                        Devin Patel is a student at the University of Alabama in Huntsville, pursuing a Bachelor's of Science in Computer Science. He will graduate in Spring 2023, and is expected to apply to Graduate school in the following academic year. His best accomplishments, as of today, are his toad-stacking record of three and knowing how to exit Vim.</h5>
                </div>
                <div class="theMember">
                    <h3>Allison Sanders</h3>
                    <h4>Technical Lead</h4>
                    <img 
                        src="../static/Pictures/AllisonPic.jpg">
                    <h5 style="font-size: 20px;">yeehaw &#129312</h5>
                </div>
    
            </div>
        </div>
</body>

</html>
