<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
        <div class="topnav">
            <a href="#html1" style="margin-top: 0px;">
                <i class="fa fa-bell-o" style="font-size: 25px;"></i>
            </a>
            <div class="account">
                <a href="{{ url_for('account') }}" class="accountIcon">
                    <i class="fa fa-user" style="font-size: 50px;"></i>
                </a>
                <div class="accountDropdownContent">
                    <a href="{{ url_for('account') }}">
                        <i class="fa fa-user"></i>
                        View Account
                    </a>
                    <a href="#">Link 2</a>
                    <a href="{{ url_for('login') }}">
                        <i class="fa fa-sign-out"></i>
                        Log Out
                    </a>
                </div>
            </div>


        </div>


        <div class="sidenav">
            <a href="{{ url_for('generate_schedule') }}">
                <img src="../static/Pictures/logo.png" alt="logo">
            </a>
            <a href="{{ url_for('generate_schedule') }}">
                <i class="fa fa-table"></i>
                Create Schedule
            </a>
            <a href="{{ url_for('upload_csv') }}">
                <i class="fa fa-upload"></i>
                Upload CSV
            </a>
            <a href="{{ url_for('settings') }}">
                <i class="fa fa-gear"></i>
                Settings
            </a>
            <a href="{{ url_for('faq') }}" class="currentPage">
                <i class="fa fa-question-circle"></i>
                FAQs
            </a>
            <a href="{{ url_for('about_us') }}">
                <i class="fa fa-group"></i>
                About Us
            </a>
        </div>


<div class="main">
    <h2>CSV Formatting</h2>
    <p>The two CSVs that must be uploaded are the Department Class Data and room table CSVs. These have a specific form to them that must be followed.</p>
    <h4>Department Class Data CSV</h4>
    <p>The Department Class Data CSV has 6 Sections. Course Selection which houses the course id that includes the department, the class number, and section  (ex. CS100-01). 
        Faculty Assignment which contains the teacher who will be teaching the class. Room Preference which contains the room that you wish the class to be taught. 
        Time Block Preference which contains The time block you wish the class to be held at. These blocks range from A to G. You can have any combination of them, 
        but you must have them all without spaces. Day Preference which contains the day you wish the class to be taught. This can either be MW or TR or a combination of both. 
        Seats Open which contains the amount of seats for the given classroom.</p>


    <button>Department Class Data CSV <i class="fa fa-download"></i></button>

    <h4>Avaliable Room CSV</h4>
    <button>Room Table CSV <i class="fa fa-download"></i></button>

</div>
</body>

</html>

