<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <title>Generate Schedule | Schedule Planner</title>
    </head>

    <body>
        <div class="topnav">
            <!-- <a href="#html1" style="margin-top: 0px">
                <i class="fa fa-bell-o" style="font-size: 25px"></i>
            </a> -->
            <div class="account">
                <a href="{{ url_for('account') }}" class="accountIcon">
                    <i class="fa fa-user" style="font-size: 50px"></i>
                </a>
                <div class="accountDropdownContent">
                    <a href="{{ url_for('account') }}">
                        <i class="fa fa-user"></i>
                        View Account
                    </a>
                    <!-- <a href="#">Link 2</a> -->
                    <a href="{{ url_for('login') }}">
                        <i class="fa fa-sign-out"></i>
                        Log Out
                    </a>
                </div>
            </div>
        </div>

        <div class="sidenav">
            <a href="{{ url_for('generate_schedule') }}">
                <img src="../static/Pictures/logo.png" alt="logo" />
            </a>
            <a href="{{ url_for('generate_schedule') }}" class="currentPage">
                <i class="fa fa-table"></i>
                Create Schedule
            </a>
            <a href="{{ url_for('upload_csv') }}">
                <i class="fa fa-upload"></i>
                Upload CSV
            </a>
            <!-- <a href="{{ url_for('settings') }}">
                <i class="fa fa-gear"></i>
                Settings
            </a> -->
            <a href="{{ url_for('faq') }}">
                <i class="fa fa-question-circle"></i>
                FAQs
            </a>
            <a href="{{ url_for('about_us') }}">
                <i class="fa fa-group"></i>
                About Us
            </a>
        </div>

        <div class="main">
            <div class="generateScheduleHeader">
                <button class="generateButton" type="button" id="getData">Generate</button>
                <div class="generateEditors">
                    <div class="generateConflicts">
                        <i class="fa fa-warning" id="conflictsIcon"></i>
                        <span class="generateConflictsText">Conflicts</span>
                        <span class="conflictNums" id="conflictNums"></span>
                        <!-- The Modal -->
                        <div id="myModal" class="generateModal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h1>Conflicts</h1>

                                <div id="classConflicts">
                                    <div class="noConflicts" id="noConflicts">
                                        <h6 class="noConflicts">No Conflicts To Resolve</h6>
                                    </div>
                                        <!--Here is where all the information from setConflict is created-->
                                </div>
                                <div class="submitConflicts">
                                    <h6 id="submitWarning" class="submitWarning">
                                        <i class="fa fa-exclamation-circle"></i>
                                        Must save all conflict changes before submitting!
                                    </h6>
                                    <button
                                        type="submit"
                                        id="submitConflictSolutions"
                                        class="submitConflictSolutionsButton"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="generateDownload" id="downloadButton">
                        <i class="fa fa-download"></i>
                        <span>Download</span>
                    </div>
                </div>
            </div>

            <div class="scheduleTable">
                <table id="generateScheduleTable">
                    <tr class="scheduleHeader">
                        <td style="background-color: #0078c8; border: 0px"></td>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="A">
                            A <br />
                            8:00 - 9:20
                        </th>
                        <td id="MWA0"></td>
                        <td id="TRA0"></td>
                        <td id="MWA1"></td>
                        <td id="TRA1"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="B">
                            B <br />
                            9:40 - 11:00
                        </th>
                        <td id="MWB0"></td>
                        <td id="TRB0"></td>
                        <td id="MWB1"></td>
                        <td id="TRB1"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="C">
                            C <br />
                            11:20 - 12:40
                        </th>
                        <td id="MWC0"></td>
                        <td id="TRC0"></td>
                        <td id="MWC1"></td>
                        <td id="TRC1"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="D">
                            D <br />
                            1:00 - 2:20
                        </th>
                        <td id="MWD0"></td>
                        <td id="TRD0"></td>
                        <td id="MWD1"></td>
                        <td id="TRD1"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="E">
                            E <br />
                            2:40 - 4:00
                        </th>
                        <td id="MWE0"></td>
                        <td id="TRE0"></td>
                        <td id="MWE1"></td>
                        <td id="TRE1"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="F">
                            F <br />
                            4:20 - 5:40
                        </th>
                        <td id="MWF0"></td>
                        <td id="TRF0"></td>
                        <td id="MWF1"></td>
                        <td id="TRF1"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="scheduleTime" id="G">
                            G <br />
                            6:00 - 7:20
                        </th>
                        <td id="MWG0"></td>
                        <td id="TRG0"></td>
                        <td id="MWG1"></td>
                        <td id="TRG1"></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <script defer type="module" src="../static/js/getScheduleInfo.js"></script>
        <script defer type="module" src="../static/js/setConflicts.js"></script>
    </body>
</html>
