<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Login | Schedule Planner</title>
    </head>

    <body class="loginPage">
        <div class="topnav" style="margin:0px; position: fixed; width:100%;"></div>
                <p ></p>
            <div class="loginForm">
                <!-- <div> -->
                    <img src="../static/Pictures/logo.png">
                    <!-- <div> -->
                <form action="" method="post" style="margin: auto; width: 50%">
                    <div>
                    <input type="text" placeholder="Username" name="username" value="">
                </div>
                <div>
                    <input type="password" placeholder="Password" name="password" value="">
                </div>
                    <input class="btn btn-default" type="submit" value="Login">
                </form>
                <!-- </div> -->
            </div>



    </body>

</html>
