<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Login | Schedule Planner</title>
    </head>

    <body class="loginPage">
        <div class="topnav" style="margin:0px;"></div>
            <div style="width:50%; float:left;">
                <p style="display: compact; height: 100vh; background-image: url('/static/Pictures/campus-photos-carousel-12.jpg'); line-height: 0; background-repeat: no-repeat; font-size: 0; vertical-align: top; background-attachment: fixed; background-size: cover;"></p>
            </div>
            <div class="loginForm">
                <!-- <div> -->
                    <img src="../static/Pictures/logo.png">
                    <!-- <div> -->
                <form action="" method="post" style="margin: auto; width: 50%">
                    <input type="text" placeholder="Username" name="username" value="">
                    <input type="password" placeholder="Password" name="password" value="">
                    <input class="btn btn-default" type="submit" value="Login">
                </form>
                <!-- </div> -->
            </div>



    </body>

</html>
