<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
        <div class="topnav">
            <a href="#html1" style="margin-top: 0px;">
                <i class="fa fa-bell-o" style="font-size: 25px;"></i>
            </a>
            <div class="account">
                <a href="{{ url_for('account') }}" class="accountIcon">
                    <i class="fa fa-user" style="font-size: 50px;"></i>
                </a>
                <div class="accountDropdownContent">
                    <a href="{{ url_for('account') }}">
                        <i class="fa fa-user"></i>
                        View Account
                    </a>
                    <a href="#">Link 2</a>
                    <a href="{{ url_for('login') }}">
                        <i class="fa fa-sign-out"></i>
                        Log Out
                    </a>
                </div>
            </div>


        </div>


        <div class="sidenav">
            <a href="{{ url_for('home') }}">
                <img src="../static/Pictures/logo.png" alt="logo">
            </a>
            <a href="{{ url_for('generate_schedule') }}">
                <i class="fa fa-table"></i>
                Create Schedule
            </a>
            <a href="{{ url_for('upload_csv') }}" class="currentPage">
                <i class="fa fa-upload"></i>
                Upload CSV
            </a>
            <a href="{{ url_for('settings') }}">
                <i class="fa fa-gear"></i>
                Settings
            </a>
            <a href="{{ url_for('faq') }}">
                <i class="fa fa-question-circle"></i>
                FAQs
            </a>
            <a href="{{ url_for('about_us') }}">
                <i class="fa fa-group"></i>
                About Us
            </a>
        </div>


<div class="main" align="center">
    <div>
        <form>
            <label for ="class">Choose a class:</label>
            <select id = "class" name ="class" required>
                <option value="100">100</option>
                <option value="105">105</option>
            </select>
            <label for="day">Choose a day:</label>
            <select id = "day" name="day" required>
                <option value="M">Monday</option>
                <option value="T">Tuesday</option>
                <option value="W">Wednesday</option>
                <option value="R">Thursday</option>
                <option value="F">Friday</option>
            </select>
            <input type="submit" value="Submit Manual Input"/>
        </form>
    </div>
    <div>
        <p>OR</p>
    </div>
    <div>
        <form action="">
            <label for="department">Choose a department:</label>
            <select id="department" name="dept" required>
                <option value="CS">CS</option>
                <option value="ECE">ECE</option>
                <option value="CPE">CPE</option>
            </select>
            <input type="file" id="uploadCSV" accept="text/csv" required/>
            <input type="submit" value="Submit CSV"/>
        </form>
    </div>
</div>
</body>

</html>
