<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <title>Upload CSV | Schedule Planner</title>
    </head>

    <body>
        <div class="topnav">
            <h1 class="departmentTitle">{{department}} Department Schedule Builder</h1>
            <div class="account">
                <a href="{{ url_for('login') }}">
                    <i class="fa fa-sign-out" id="logoutIcon"></i>
                </a>

                <div class="logOutText">Log Out</div>
            </div>
        </div>

        <div class="sidenav">
            <a href="{{ url_for('generate_schedule') }}">
                <img src="../static/Pictures/logo.png" alt="logo" />
            </a>
            <a href="{{ url_for('generate_schedule') }}">
                <i class="fa fa-table"></i>
                Create Schedule
            </a>
            <a href="{{ url_for('upload_csv') }}" class="currentPage">
                <i class="fa fa-upload"></i>
                Upload CSV
            </a>
            <!-- <a href="{{ url_for('settings') }}">
                <i class="fa fa-gear"></i>
                Settings
            </a> -->
            <a href="{{ url_for('faq') }}">
                <i class="fa fa-question-circle"></i>
                FAQs
            </a>
            <a href="{{ url_for('about_us') }}">
                <i class="fa fa-group"></i>
                About Us
            </a>
        </div>

        <div class="main" id="CSVUploadForms">
            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <!-- <h2 class="uploadCSVFormTitle" style="font-size:30px; margin-top:50px; margin-bottom: 50px;">OR</h2>
                <hr> -->
                <h2 class="uploadCSVFormTitle">CSV Upload</h2>
            </div>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="uploadCSVFile">
                        <div class="individualFileUpload">
                            <label for="uploadCSV">Upload Courses:<span>*</span></label>
                            <input type="file" name="courses" id="uploadCSV" accept="text/csv" required />
                        </div>
                        <div class="individualFileUpload">
                            <label for="uploadRooms">Upload Rooms:<span>*</span></label>
                            <input type="file" name="rooms" id="uploadRooms" accept="text/csv" required />
                        </div>
                    </div>
                    <input class="uploadCSVSubmit" type="submit" name="submit_button" value="Submit CSV" id="uploadCSVSubmitButton" />
                </form>

                {% if fileUploadSuccess %}
                <p class="successfulUpload" id="uploadCSVSuccessMessage"><strong>Success:</strong> {{fileUploadSuccess}} Generate schedule on Create Schedule page.</p>
                {% endif %}
            </div>
            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <hr style="margin-top: 50px" />
                <!-- <h2 class="uploadCSVFormTitle" style="font-size:30px; margin-top:50px; margin-bottom: 50px;">OR</h2>
                <hr> -->
            </div>

            <div>
                <h2 class="uploadCSVFormTitle">Manual Entry</h2>
                {% if success %}
                <h3 class="manualSuccess"><strong>Success: </strong> {{success}}</h3>
                {% endif %} {% if error %} {% for i in error %}
                <h3 class="manualError">
                    <i class="fa fa-exclamation-circle"></i> <strong>Error:</strong> {{ i }}
                    <i class="fa fa-exclamation-circle"></i>
                </h3>
                {% endfor %} {% endif %}
                <div class="classOverwriteWarning">
                    <h4 id="classOverwriteWarning">
                        <i class="fa fa-exclamation-circle"></i> Warning! Class already in database. Are you sure you
                        want to overwrite it?
                    </h4>
                </div>

                <form action="" method="post">
                    <div class="uploadCSVForm">
                        <div class="uploadCSVDropDown">
                            <label for="department">Choose a department:<span>*</span></label>

                            <select id="department" name="dept"  required>
                                <option value="{{ departmentManual }}">{{ departmentManual }}</option>
                            </select>
                        </div>

                        <div class="uploadCSVDropDown">
                            <label for="class">Choose a class:<span>*</span></label>

                            <input name="class" type="text" placeholder="Class" id="classTextBox" />
                        </div>

                        <div class="uploadCSVDropDown">
                            <label for="prof">Choose a faculty member:</label>
                            <input id="faculty" name="faculty" type="text" placeholder="Faculty Member" />
                        </div>

                        <div class="uploadCSVDropDown">
                            <label for="room">Choose a room:<span>*</span></label>

                            <select id="room" name="room">
                                {% for room in rooms %}
                                <option value="{{ room }}">{{ room }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="uploadCSVDropDown">
                            <label for="day">Choose a day:<span>*</span></label>

                            <select id="day" name="day" required>
                                <option value="MW">Monday/Wednesday</option>
                                <option value="TR">Tuesday/Thursday</option>
                            </select>
                        </div>
                        <div class="uploadCSVDropDown">
                            <label for="time">Choose a time:<span>*</span></label>
                            <select id="time" name="time" required>
                                <option value="A">A: 8:00 - 9:20 AM</option>
                                <option value="B">B: 9:40 - 11:00 AM</option>
                                <option value="C">C: 11:20 AM - 12:40 PM</option>
                                <option value="D">D: 1:00 - 2:20 PM</option>
                                <option value="E">E: 2:40 - 4:00 PM</option>
                                <option value="F">F: 4:20 - 5:40 PM</option>
                                <option value="G">G: 6:00 - 7:20 PM</option>
                            </select>
                        </div>
                    </div>
                    <input class="uploadCSVSubmit" type="submit" name="submit_button" value="Submit Manual Input" />
                </form>
            </div>
        </div>
        <script defer type="module" src="../static/js/uploadCSVjs.js"></script>
    </body>
</html>
